@import '~bootstrap/scss/bootstrap';

main #container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    #card{
        width: 250px;
        height: 300px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #container-img{
          height: 250px;

          img{
            height: 100%;
            
          }
        }
    }
}